<!-- brand -->
        <section class="bg-[#0B1830] py-14 sm:py-[80px]">
            <div class="custom__container px-5 sm:px-6 lg:px-0">
                <p class="text-center text-[20px] font-medium uppercase tracking-[0.02em] text-[#5F6F86]">
                    Trusted by Abidjan's favorite restaurants &amp; businesses
                </p>

                <div class="brand_marquee mt-10 lg:mt-8" aria-label="Trusted brand logos">
                    <div class="brand_marquee__inner">
                        <div class="brand_marquee__track">
                            <div class="brand_marquee__item">
                                <img src="./assets/img/brand/brand-01.png" alt="LGPSM brand logo"
                                    class="h-[26px] w-auto object-contain sm:h-[30px]">
                            </div>

                            <div class="brand_marquee__item">
                                <img src="./assets/img/brand/brand-02.png" alt="LGPSM monogram brand logo"
                                    class="h-[26px] w-auto object-contain sm:h-[30px]">
                            </div>

                            <div class="brand_marquee__item">
                                <img src="./assets/img/brand/brand-03.png" alt="Logoipsum angular brand logo"
                                    class="h-[26px] w-auto object-contain sm:h-[30px]">
                            </div>

                            <div class="brand_marquee__item">
                                <img src="./assets/img/brand/brand-04.png" alt="Logoipsum circular brand logo"
                                    class="h-[26px] w-auto object-contain sm:h-[30px]">
                            </div>

                            <div class="brand_marquee__item">
                                <img src="./assets/img/brand/brand-05.png" alt="Logoipsum ribbon brand logo"
                                    class="h-[26px] w-auto object-contain sm:h-[30px]">
                            </div>
                        </div>

                        <div class="brand_marquee__track" aria-hidden="true">
                            <div class="brand_marquee__item">
                                <img src="./assets/img/brand/brand-01.png" alt=""
                                    class="h-[26px] w-auto object-contain sm:h-[30px]">
                            </div>

                            <div class="brand_marquee__item">
                                <img src="./assets/img/brand/brand-02.png" alt=""
                                    class="h-[26px] w-auto object-contain sm:h-[30px]">
                            </div>

                            <div class="brand_marquee__item">
                                <img src="./assets/img/brand/brand-03.png" alt=""
                                    class="h-[26px] w-auto object-contain sm:h-[30px]">
                            </div>

                            <div class="brand_marquee__item">
                                <img src="./assets/img/brand/brand-04.png" alt=""
                                    class="h-[26px] w-auto object-contain sm:h-[30px]">
                            </div>

                            <div class="brand_marquee__item">
                                <img src="./assets/img/brand/brand-05.png" alt=""
                                    class="h-[26px] w-auto object-contain sm:h-[30px]">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
