<!-- header -->
<header class="header__area fixed left-0 right-0 top-0 z-[99] overflow-hidden" data-site-header>
    <div
        class="pointer-events-none absolute inset-0 bg-[linear-gradient(90deg,#ffffff_0%,#ffffff_54%,rgba(255,251,239,0.96)_74%,rgba(255,246,217,0.0)_100%)]">
    </div>
    <div
        class="pointer-events-none absolute h-[760px] w-[760px] -top-[360px] -right-[180px] rounded-full bg-[radial-gradient(50%_50%_at_50%_50%,rgb(255_249_232_/_34%)_0%,rgba(255,255,255,0.98)_100%)] blur-3xl opacity-75">
    </div>

    <div class="custom__container relative z-10 flex items-center justify-between h-[88px]">
        <div class="header-logo">
            <a href="#home" data-scroll-link>
                <img src="./assets/img/logo/main-logo.png" alt="">
            </a>
        </div>

        <div class="header-menu">
            <nav>
                <ul class="flex items-center gap-[30px]">
                    <li>
                        <a href="#services" data-nav-link
                            class="header__menu-link text-[#4A5568] text-lg font-normal custom__border active">Services</a>
                    </li>
                    <li>
                        <a href="#food" data-nav-link
                            class="header__menu-link text-[#4A5568] text-lg font-normal custom__border">Food</a>
                    </li>
                    <li>
                        <a href="#express" data-nav-link
                            class="header__menu-link text-[#4A5568] text-lg font-normal custom__border">Express</a>
                    </li>
                    <li>
                        <a href="#partners" data-nav-link
                            class="header__menu-link text-[#4A5568] text-lg font-normal custom__border">Partners</a>
                    </li>
                    <li>
                        <a href="#blog" data-nav-link
                            class="header__menu-link text-[#4A5568] text-lg font-normal custom__border">Blog</a>
                    </li>
                    <li>
                        <a href="#company" data-nav-link
                            class="header__menu-link text-[#4A5568] text-lg font-normal custom__border">Company</a>
                    </li>
                </ul>
            </nav>
        </div>

        <div class="custom__button">
            <a href="#download" class="btn" data-scroll-link>
                Download App
            </a>
        </div>
    </div>

</header>