<!-- scrollToTop -->
<div class="scrollToTop">
    <div class="arrowUp">
        <i class="fa-solid fa-arrow-up"></i>
    </div>
    <div class="water" style="transform: translate(0px, 47%);">
        <svg viewBox="0 0 560 28" class="water_wave water_wave_back" aria-hidden="true">
            <use xlink:href="#wave"></use>
        </svg>
        <svg viewBox="0 0 560 28" class="water_wave water_wave_front" aria-hidden="true">
            <use xlink:href="#wave"></use>
        </svg>
        <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
            viewBox="0 0 560 28" style="display: none;">
            <symbol id="wave">
                <path
                    d="M0 14C20 7 60 7 80 14C100 21 140 21 160 14C180 7 220 7 240 14C260 21 300 21 320 14C340 7 380 7 400 14C420 21 460 21 480 14C500 7 540 7 560 14V28H0Z">
                </path>
            </symbol>
        </svg>
    </div>
</div>
